In [25]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle
import pickle
import matplotlib.pyplot as plt
import os

In [7]:
df=pd.read_csv('student-mat.csv',sep=';')

In [8]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [10]:
df.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [11]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [12]:
df = df[["G1", "G2", "G3", "studytime", "failures", "absences"]]

In [13]:
predict = "G3"#final grade prediction

In [14]:
X = np.array(df.drop([predict], 1)) # Features
y = np.array(df[predict]) # Labels

In [38]:
 x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.1)

In [36]:
"""best=0
for z in range(20):

    x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.1)
    linear = linear_model.LinearRegression()
    linear.fit(x_train, y_train)
    acc = linear.score(x_test, y_test) # acc stands for accuracy 
    print (acc)

    if acc>best:
        best=acc
        with open ('studentmodel.pickle','wb') as f :
            pickle.dump(linear,f)"""

0.8304816601887677
0.8418425453582534
0.8786908212983351
0.8610635477662427
0.8309255616277613
0.7570459275164336
0.7178675393542487
0.8436196781039259
0.862880655992482
0.8136986362083491
0.9137885283062857
0.7320790554459577
0.8347783559710646
0.8534632778214762
0.8926310225037808
0.8305196609688543
0.720416639524334
0.8396276311954662
0.7573063207853395
0.8296151246164906

In [39]:
pickle_in=open('studentmodel.pickle','rb')
linear=pickle.load(pickle_in)

In [16]:
print('Coefficient: \n', linear.coef_) # These are each slope value
print('Intercept: \n', linear.intercept_) # This is the intercept

Coefficient:
 [ 0.13047339  0.98334089 -0.25657765 -0.27957511  0.02931489]
Intercept:
 -1.0880272097220764

In [17]:
from sklearn.model_selection import cross_val_score

In [34]:
np.mean(cross_val_score(linear,x_train,y_train, scoring = 'neg_mean_absolute_error',cv=3))

-1.201730593605478

In [40]:
# multiple linear regression 
import statsmodels.api as sm

X_sm = X = sm.add_constant(X)
model = sm.OLS(y,X_sm)
model.fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.829
Model:                            OLS   Adj. R-squared:                  0.827
Method:                 Least Squares   F-statistic:                     376.4
Date:                Tue, 27 Jul 2021   Prob (F-statistic):          1.42e-146
Time:                        18:25:16   Log-Likelihood:                -812.71
No. Observations:                 395   AIC:                             1637.
Df Residuals:                     389   BIC:                             1661.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.4428      0.432     -3.336      0.001      -2.293      -0.592
x1             0.1500      0.056      2.687      0.008       0.040       0.260
x2             0.9773      0.049     19.888      0.000       0.881       1.074
x3            -0.1782      0.117     -1.521      0.129      -0.409       0.052
x4            -0.2838      0.140     -2.021      0.044      -0.560      -0.008
x5             0.0366      0.012      3.040      0.003       0.013       0.060
==============================================================================
Omnibus:                      222.812   Durbin-Watson:                   1.851
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1394.799
Skew:                          -2.422   Prob(JB):                    1.33e-303
Kurtosis:                      10.829   Cond. No.                         79.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [41]:
predictions=linear.predict(x_test)